html {
    font-family: "Noto Serif SC",serif,-apple-system,BlinkMacSystemFont,PingFang SC,Microsoft Yahei,Segoe UI,Helvetica,Arial,sans-serif,Segoe UI Emoji;
}


body {
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    background: #F7F8F3;
    color: #555555;
    margin: 0;
}

a {
    color: #464646;
    text-decoration: none;
    transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
}

a:hover {
    color: #989898;
}

article, aside, div, footer, header, p {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #87878d;
}

.css-main {
    margin: auto;
    max-width: 1000px;
}

@media screen and (max-width: 1000px){
    .css-main {
        display: block;
        width: 100%;
    }
}

.css-post {
    max-width: 770px;
    margin-left: 220px;
    margin-top: 50px;
    flex-grow: 1;
    line-height: 1.8;
}

@media screen and (max-width: 1000px){
    .css-post {
        padding: 10px;
        margin: 20px auto auto;
    }
}
.css-aside {
    margin-top: 100px;
}

@media screen and (max-width: 1000px){
    .css-aside {
        position: static;
        top: 0;
        left: 0;
        z-index: 9;
    }
}

.css-aside h1{
    text-align: center;
}

.css-aside h1 a {
    animation: dongHua 2.5s 1 ease-in-out;
    color:#464646;
    font-size: 30px;
    }
    @keyframes dongHua {
        0% {
        opacity: 0;
        }
        100% {
        opacity: 1;
        }
}

.css-aside h1 a:hover {
    color: #989898;
}

.tx{
    text-align: center;
}

.tx img{
    width: 8rem;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 0 0.3618em rgba(0,0,0,0.05);
    box-shadow: 0 0 0 0.3618em rgba(0,0,0,0.05);
}

.css-aside p{
    text-align: center;
    margin-top: 6px;
}

.css-wyfp img{
    border: 1px solid #808080;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    width: 100%;
}

.css-wyfp>div{
    margin-bottom: 20px;
}

.lxfs{
    text-align: center;
}

.lxfs a {
    border-radius: 15px;
    color: rgba(0,0,0,.5);
    fill: rgba(0,0,0,.5);
    background-color: rgb(210 210 210 / 80%);
    padding: 0 10px;
}

.snow-container {
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 100%;
    top: 0;
    overflow: hidden;
    z-index: 2;
    pointer-events: none;
}
  
  .snow {
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    -webkit-animation: snow linear infinite;
            animation: snow linear infinite;
  }
  .snow.foreground {
    background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png");
    -webkit-animation-duration: 15s;
            animation-duration: 15s;
  }
  .snow.foreground.layered {
    -webkit-animation-delay: 7.5s;
            animation-delay: 7.5s;
  }
  .snow.middleground {
    background-image: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png);
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
  }
  .snow.middleground.layered {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
  }
  .snow.background {
    background-image: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png);
    -webkit-animation-duration: 30s;
            animation-duration: 30s;
  }
  .snow.background.layered {
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
  }
  
  @-webkit-keyframes snow {
    0% {
      -webkit-transform: translate3d(0, -100%, 0);
              transform: translate3d(0, -100%, 0);
    }
    100% {
      -webkit-transform: translate3d(15%, 100%, 0);
              transform: translate3d(15%, 100%, 0);
    }
  }
  
  @keyframes snow {
    0% {
      -webkit-transform: translate3d(0, -100%, 0);
              transform: translate3d(0, -100%, 0);
    }
    100% {
      -webkit-transform: translate3d(15%, 100%, 0);
              transform: translate3d(15%, 100%, 0);
    }
  }

.flower-toggle {
    bottom: 62px;
}

.flower-toggle, .theme-toggle, .yin-toggle, .xue-toggle{
    position: fixed;
    cursor: pointer;
    font-size: 28px;
    right: 12px;
    font-weight: bolder;
}

.theme-toggle {
    bottom: 18px;
}

.yin-toggle{
    bottom: 104px;
}

.xue-toggle{
    bottom: 148px;
}
