body{margin:0px;padding:0px;background:#FFF url('/img/doujin/bg_title.png') repeat-x;font-size:12px;font-family:"Lucida Grande",Helvetica,Arial,Verdana,sans-serif,"Hiragino Sans GB";line-height:150%}div#wrapper{background-image:url('/img/doujin/bg_musume.png');background-repeat:no-repeat;background-position:right 0;background-size:auto}div#top{position:relative;padding:0;height:63px}div#top
#logo{position:absolute;padding:0;left: -20px}div#top
#logoBGM{position:absolute;right:0}div.idBadger{float:left;width:400px;padding-left:10px;margin:25px
0 0 115px;color:#FFF;display:inline;border-left:1px solid #AAA}div.idBadger
.inner{margin-left:40px}div.idBadger .inner
div.badgeUser{position:relative;z-index:99;display:inline;border:1px
solid transparent;_border:none;padding:5px;-moz-border-radius:5px 5px 5px 0;-webkit-border-radius:5px 5px 5px 0;border-radius:5px 5px 5px 0}div.idBadger .inner div.badgeUser:hover{background:#FFF;background:rgba(255,255,255,0.7);border:1px
solid #EEE;-webkit-box-shadow:0 0 3px #EEE;-moz-box-shadow:0 0 3px #EEE;box-shadow:0 0 3px #EEE}div.idBadger .inner
a.arrowDown{padding:0
5px 0 0;background:url('/img/ico/ico_arrow_down.png') no-repeat 0;text-indent: -9999px}div.idBadger .inner a.arrowDown
span{visibility:hidden}div.idBadger .inner
#q_update_sign{padding:0
0 0 5px}div.idBadger .inner div.badgeUser
ul{position:absolute;display:none;width:120px;left:-1;top:20px;margin:4px
0 0 1px;padding:0
0 5px 0;background:#FFF;background:rgba(255,255,255,0.9);-webkit-box-shadow:0 3px 3px #AAA;-moz-box-shadow:0 3px 3px #AAA;box-shadow:0 3px 3px #AAA;-moz-border-radius:0 5px 5px 5px;-webkit-border-radius:0 5px 5px 5px;border-radius:0 5px 5px 5px;z-index:99}div.idBadger .inner div.badgeUser ul
li{display:inline}div.idBadger .inner div.badgeUser ul li
a{display:block;padding:2px
10px;color:#0187C5}div.idBadger .inner div.badgeUser ul li a:hover{color:#FFF;background:#FFF url('/img/bangumi/bangumi_ui_1.png') no-repeat 0 -26px}div.idBadger .inner div.badgeUser ul
li.row{display:block;padding:2px
10px;border-top:1px solid #EEE;color:#CCC}div.idBadger .inner div.badgeUser ul li.row
a{display:inline;padding:0}div.idBadger .inner div.badgeUser ul li.row a:hover{background:none;color:#0187C5;text-decoration:underline}div.idBadger .inner div.badgeUser:hover
ul{display:block}div.idBadger .inner div.badgeUser:hover
a.avatar{color:#0187C5}div.idBadger
#q_sign_input{color:#FFF}div.idBadger a.avatar,div.idBadger
a.l{color:#EEE}div.idBadger .inner div.badgeUser
ul{margin:3px
0 0 0}div#nav{height:42px}div#menu{float:left;margin:5px
0 0 0;padding:0;text-align:center}div#menu ul
li{float:left}div#menu ul li a.top,div#menu ul li
a.top_lite{display:block;font-size:14px;font-weight:bold;text-align:center;color:#777;text-shadow:1px 1px #eee;float:left}div#menu ul li a.top span,div#menu ul li a.top_lite
span{display:block;float:left;padding:5px
10px}div#menu ul li a.top:hover span,
#nav_menu li:hover a.top span, #nav_menu li.sfhover a.top
span{display:block;float:left;text-shadow:1px 1px #ccc}div#menu ul li a.top:hover{color:#333}div#menu ul li a.focus,div#menu ul li a.top_lite:hover{display:block;color:#369CF8;font-size:14px;font-weight:bold;text-align:center;text-shadow:1px 1px #fff}div#menu ul li a.focus:hover span,
div#menu ul li a.top:hover span,
#nav_menu li:hover a.top span,
#nav_menu li:hover a.focus
span{border:1px
solid #DDD;border-bottom:none;color:#333;text-shadow:0 -1px 0 rgba(255,255,255,.5);background:transparent;background: -webkit-gradient( linear, left top, left bottom, color-stop(.2, #FAFAFA), color-stop(1, #EEE) );background: -moz-linear-gradient( center top, #FAFAFA 20%, #EEE 100% );background: -o-linear-gradient(center top, #FAFAFA 20%, #EEE 100%);-webkit-box-shadow:inset 0 1px 1px hsla(0,100%,100%,.4), inset 0 -1px 0 hsla(0,100%,100%,.3), 0 0px 0 hsla(212,77%,26%,1), 0 0px 2px hsla(214,100%,0%,.2);-moz-box-shadow:inset 0 1px 1px hsla(0,100%,100%,.4), inset 0 -1px 0 hsla(0,100%,100%,.3), 0 0px 0 hsla(212,77%,26%,1), 0 0px 2px hsla(214,100%,0%,.2);box-shadow:inset 0 1px 1px hsla(0,100%,100%,.4), inset 0 -1px 0 hsla(0,100%,100%,.3), 0 0px 0 hsla(212,77%,26%,1), 0 0px 2px hsla(214,100%,0%,.2);-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0}div#menu ul li a.focus span,div#menu ul li a.top_lite:hover
span{border-bottom:2px solid #369CF8;float:left;padding:5px
10px 5px 10px}div#menu ul li a.focus span.right,div#menu ul li a.top_lite:hover span.right,
div#menu ul li a.top:hover span.right,#nav_menu li:hover a.top span.right, #nav_menu li.sfhover a.top span.right,
div#menu ul li a.top span.right,div#menu ul li a.top_lite
span.right{display:block;background:transparent url('/img/b5/bg_nav_line.gif') no-repeat right bottom;float:left;padding:0;width:2px;height:29px;border:none}#nav_menu, #nav_menu
ul{padding:0;margin:0}#nav_menu
a.nav{display:block;height:17px;width:118px}#nav_menu li ul li
.sep{display:block;width:98px;margin:2px
0;padding:2px
10px;background-color:#EEE;color:#555;line-height:16px;text-align:left;border-bottom:1px #CCC solid}#nav_menu li
ul{display:block;position:absolute;left: -999em;z-index:98;width:118px;-moz-opacity: .9;opacity: .9;filter:alpha(opacity=90);background-color:#FFF;padding:3px
0;border:1px
solid #eee;-moz-border-radius:0 5px 5px 5px;-webkit-border-radius:0 5px 5px 5px;border-radius:0 5px 5px 5px;-webkit-box-shadow:2px 2px 5px #EEE;-moz-box-shadow:0px 5px 5px -3px #AAA;box-shadow:0px 5px 5px -3px #AAA;background:#FFF;background: -webkit-gradient( linear, left top, left bottom, color-stop(.8, #FEFEFE), color-stop(1, #EEE) );background: -moz-linear-gradient(center top, #FEFEFE 80%, #EEE 100% );-moz-box-shadow:inset 0 1px 1px hsla(0,100%,100%,1), inset 0 -1px 0 hsla(0,100%,100%,.3), 0 5px 0 rgba(200,200,200,0.5), 0 5px 2px hsla(214,100%,0%,.2);-webkit-box-shadow:inset 0 1px 1px hsla(0,100%,100%,1), inset 0 -1px 0 hsla(0,100%,100%,.3), 0 5px 0 rgba(200,200,200,0.5), 0 5px 2px hsla(214,100%,0%,.2)}#nav_menu li.top:hover, #nav_menu
li.sfhover{}#nav_menu li:hover a.top, #nav_menu li.sfhover
a.top{color:#333}#nav_menu li:hover ul, #nav_menu li.sfhover
ul{left:auto}#nav_menu li ul li
a{color:#0187C5;text-align:center;padding:2px
0px}#nav_menu li ul li a:hover{padding:2px
0px;color:#FFF;background:#FFF url('/img/bangumi/bangumi_ui_1.png') no-repeat 0 -26px}div#menu ul li a.focus:hover span.right,#nav_menu li:hover a.focus span.right, div#menu ul li a.top:hover span.right,#nav_menu li:hover a.top
span.right{background:none;width:0}div#menu{margin:10px
0 0 115px;display:inline}div#menu ul li a.focus, div#menu ul li a.top_lite:hover{color:#FFF;text-shadow:1px 2px #505667}div#menu ul li a.focus span, div#menu ul li a.top_lite:hover
span{border-bottom:4px solid #BFC5DE}div#menu ul li a.top_lite:hover, div#menu ul li a.top:hover{padding-bottom:0}div#menu ul li a.top, div#menu ul li
a.top_lite{color:#FFF;text-shadow:1px 1px #505667;padding-bottom:0}div#menu ul li a.focus span.right, div#menu ul li a.top_lite:hover span.right, div#menu ul li a.top:hover span.right, #nav_menu li:hover a.top span.right, #nav_menu li.sfhover a.top span.right, div#menu ul li a.top span.right, div#menu ul li a.top_lite
span.right{background-image:none}div#menu ul li a.focus:hover span, div#menu ul li a.top:hover span, #nav_menu li:hover a.top span, #nav_menu li:hover a.focus
span{border-bottom:3px solid #EEE}div#footer{width:980px;margin:5px
auto 0 auto}div#homeWrapper{width:980px;margin:0
auto}div.homeBg{position:absolute;background:#DFE2EE;width:100%;height:200px;top:105px;z-index: -10}div#introDoujin{height:135px;background:url('/img/doujin/home_jj.gif') no-repeat;background-position:right bottom;position:relative}div#introDoujin
div.slogan{padding:25px
0 0 20px}div#introDoujin
div.doujinMusume{position:absolute;right:25px;top:4px}div#doujinHeader{height:40px;background:url('/img/doujin/home_jj.gif') no-repeat;background-position:right bottom;position:relative}div#doujinHeader
h1{color:#2F5797;text-shadow:1px 1px #FFF;font-size:18px;margin:15px
0 0 20px}div#doujinHeader.mujiji{height:35px;background-image:none}div#doujinHeaderInSubject{height:55px;background-position:right bottom;position:relative}div#doujinHeaderInSubject
h1{float:left;color:#2F5797;text-shadow:1px 1px #FFF;font-size:18px;height:55px;line-height:55px;padding:0
20px}div#doujinHeaderInSubject h1
a{color:#2F5797}div#doujinHeaderInSubject h1 a:hover{color:#F09199}div#doujinHeaderInSubject
ul.menu{float:left;height:25px;line-height:25px;margin:15px
0 0 10px}div#doujinHeaderInSubject ul.menu
li{display:inline;font-size:14px;margin:0
15px 0 0}div#doujinHeaderInSubject ul.menu
a{color:#555;padding:0
1px}div#doujinHeaderInSubject ul.menu a:hover{color:#369CF8;border-bottom:2px solid #369CF8}div#doujinHeaderInSubject ul.menu
a.focus{color:#F09199;border-bottom:2px solid #F09199}#doujinHeaderInSubject span.collect
a{color:#d00000;float:right;line-height:15px;font-size:14px;background:transparent url('/img/ico/ico_heart_break.png') no-repeat;padding:0
10px 0 20px;margin:20px
0 0 0}#doujinHeaderInSubject span.collect
a.break{color:#999;background:transparent url('/img/ico/ico_heart.png') no-repeat}#doujinHeaderInSubject span.collect
a{}#doujinHeaderInSubject span.collect a:hover{color:#F09199}div#doujinHome{background:#FFF;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;min-height:250px}div#doujinHome
.columns{width:auto}div#doujinHome
#columnA{width:670px;margin:20px
0 10px 20px;display:inline}div#doujinHome
#columnB{width:260px;margin:0
0 0 10px;padding:20px
10px 20px 10px;background:#F7F7F7;-moz-border-radius:0 10px 0 10px;-webkit-border-radius:0 10px 0 10px;border-radius:0 10px 0 10px}div#doujinHome #columnA
h2{font-size:15px;color:#2F5797;margin:0
0 10px 0}div#doujinHome h2
small{font-size:12px;font-weight:normal}div#doujinHome
h2.sideTitle{color:#2F5797;background:#FFF url('/img/doujin/ico_jj.png') no-repeat 5px 50%;margin:0
0 10px 0;padding:5px
0 5px 30px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;font-size:13px}div#doujinHome
h3.triTitle{margin:0
0 10px 0;font-weight:normal}div#doujinHome ul.groupsSmall li
div.inner{height:40px;overflow:hidden;padding:0
0 0 5px}div#doujinHome ul.groupsSmall
li{margin:0}div.sidePanel{margin:0
0 20px 0}div#doujinHome div.sidePanel
h2{margin:0
0 5px 0}#columnTimelineInnerA{width:85px;_width:83px}#columnTimelineInnerB{width:584px}div.tipIntro{background:#DFE2EE url('/img/doujin/ico_doujin_musume_1.png') no-repeat 5px;padding:20px
0 20px 80px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}div.tipIntro
h3{color:#555;margin:0
0 5px 0}div.tipIntro.tiny{padding:10px;background-position:right 70px}div.tipIntro.tiny
h3{font-size:13px}div#doujinGuide{}div#doujinGuide
h2.doujinGuideTitle{position:relative}div#doujinGuide
ul{background:#F7F8F3;margin:0
0 20px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px}div#doujinGuide ul
li{float:left;display:block;width:157px;height:180px;padding:10px
5px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;position:relative}div#doujinGuide ul li.c2
p.pic{background-position:50% -125px}div#doujinGuide ul li.c3
p.pic{background-position:50% -249px}div#doujinGuide ul li.c4
p.pic{background-position:50% -375px}div#doujinGuide ul li
p.pic{background:url('/img/doujin/intro.png') no-repeat 50% 0;width:167px;height:125px}div#doujinGuide ul li
div.text{padding:0
10px;position:absolute;top:120px;line-height:120%}div#doujinGuide ul li
h3{padding:0;font-size:14px;color:#5A5797}div#doujinGuide ul li:hover{background:#F09199}div#doujinGuide ul li:hover
h3{color:#FFF}div#doujinGuide ul li:hover
span.tip{color:#FFF}div#doujinGuide ul li:hover
a.l{color:#FFF;text-decoration:underline}div#doujinGuide ul li:hover a:hover.l{color:#EEE}#userPanel{}#userPanel
div.userBadge{margin:0
0 5px 0}#userPanel div.userBadge
.inner{margin:0
0 0 45px;line-height:140%}#userPanel div.userBadge
a.id{font-size:13px}#userPanel
ul.stats{}#userPanel ul.stats
li{float:left;border-left:1px solid #FFF;border-right:1px solid #DDD}#userPanel ul.stats li:first-child{border-left:0}#userPanel ul.stats li:last-child{border-right:none}#userPanel ul.stats li
a{display:block;padding:5px
15px;color:#2F5797;font-size:15px;font-family:'Helvetica Neue',Helvetica,Arial,Sans-serif}#userPanel ul.stats li
span{display:block;color:#888;font-size:11px}#userPanel ul.stats li a:hover,#userPanel ul.stats li a:hover
span{color:#F09199}div.userProfile{margin:0
0 10px 0;padding:0
0 10px 0;border-bottom:1px solid #EEE}div.userProfile
div.inner{margin:0
0 0 90px;padding:5px
0 0 0}div.userProfile
h3{font-family:arial,sans-serif;font-size:20px;font-weight:normal;margin:0
0 5px 0}div.userProfile
blockquote.intro{background:#F9F9F5 url("/img/quote_left.gif") no-repeat 5px 5px;margin:5px
0 0 0;padding:10px
0;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}div.userProfile
div.bio{color:#555;padding:0
10px 0 35px;margin:0
0 0 0}div.userProfileSimple{margin:0
0 10px 0;padding:0
0 10px 0;border-bottom:1px solid #EEE}div.userProfileSimple
div.inner{margin:0
0 0 60px}div.userProfileSimple
ul.headerTab{margin:0;padding:0;border:none}#userPanel.inProfile{margin:0
0 10px 0}div.createTabs{text-align:center;padding:10px
0;margin:0
0 10px 0;border-top:1px solid #EEE;border-bottom:1px solid #EEE}div.createTabs.noBorder{border:none}a.createTab{background:#DFE2EE;color:#2F5797;font-size:13px;width:100px;margin:2px
0;padding:5px
15px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}a.createTab.focus{background:#369CF8;color:#FFF}a.createTab:hover{background:#F09199;color:#FFF}div.inviteCode{margin:0
0 20px 0}#columnDoujinA{margin:20px
20px 0 10px;width:250px;display:inline}#columnDoujinB{margin-top:20px;width:680px}#columnDoujinB
h2.subtitle{margin-bottom:5px}#columnDoujinB
div.subjectTitle{border-bottom:1px solid #EEE;padding:2px
0 0 0;margin:0
0 0 0}#columnDoujinB div.subjectTitle
span{line-height:100%}#columnDoujinB
div.tagCloud{margin:5px
0px 0 0;padding:5px
10px;background-color:#F7F8F3;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}#columnDoujinB
div.shareTools{margin:10px
0 0 0}#columnDoujinB div.shareTools
.shareBtn{float:right}#columnDoujinB
div.detail{font-size:13px;color:#444;padding:5px;line-height:180%}#columnDoujinB
div.clubList{margin:5px
0 0 0}div#columnDoujinB
.eventSummary{height:auto !important;height:250px;max-height:250px;overflow:hidden}div#columnDoujinB
.eventSummaryAll{height:auto !important;overflow-x:hidden}#columnInSubjectA{margin:20px
20px 0 20px;width:700px;display:inline}#columnInSubjectB{margin:20px
20px 0 0;width:220px}#headerCrtChl
h1.crtNameSingle{background:#6B73B5;color:#FFF}div.subjectCommentList
div.shoutBox{margin:10px
0 0 0}ul#infobox{margin:0
0 5px 0}.modifyTool{color:#888;background:#F5F5F5;margin:0
0 5px 0;padding:2px
10px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}a.addRelatedItem{display:block;width:130px;color:#666;border:2px
dashed #DDD;margin:10px
0;padding:10px;line-height:20px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}a.addRelatedItem
span.plus{font-size:20px}a.addRelatedItem
span.text{line-height:25px;font-size:13px}a.addRelatedItem:hover{border-color:#369CF8;color:#369CF8}a.addRelatedItem:hover
span.text{color:#369CF8}ul.modifyBox{}ul.modifyBox
li{border-bottom:1px solid #EEE}ul.modifyBox li
a{display:block;padding:2px
0;color:#0084B4}ul.modifyBox li a:hover{background:#0084B4;color:#FFF}div.doujinRelatedLeft{width:350px;padding:5px
10px 0 0;float:left}div#columnInSubjectA div.doujinRelatedLeft
h2.subtitle{margin:0
0 10px 0}div.doujinRelatedRight{width:320px;padding:5px
0 0 10px;float:left;border-left:1px solid #EEE}div.subjectListWrapper{margin:0
5px 5px 5px}div.subjectListWrapper
div.page{padding:0
5px}#columnPhotoA{margin:20px
20px 0 20px;width:600px}#columnPhotoB{margin:20px
0 0 0px;width:330px}ul.eventInfo{float:left;width:480px;margin:5px
0 0 0;padding:10px;background:#F7F8F3;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}ul.eventInfo
li{padding:5px
0}ul#browserItemList ul.eventInfo
li{padding:2px
0}div.eventJoin{float:left;width:140px;padding:10px
20px}div.eventJoin
p{margin:0
0 20px 0}div#wrapperClub{}div#wrapperClub
div#top{height:55px}div#wrapperClub div#top
#logo{left:0}div#wrapperClub
div.idBadger{border:0;margin:0
0 0 120px;padding:5px
10px;color:#666;background:#EEE;background:rgba(255,255,255,0.8);width:auto;-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px}div#wrapperClub div.idBadger
#q_sign_input{color:#555}div#wrapperClub div.idBadger a.avatar,div#wrapperClub div.idBadger
a.l{color:#0187C5}div#wrapperClub div.idBadger .inner div.badgeUser
ul{left:0}div.clubMain{background:#FFF;width:980px;margin:0
auto;padding:0
0 10px 0;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px}div.clubMain
div#header{height:140px;position:relative;padding:0;overflow:hidden;-moz-border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;border-radius:10px 10px 0 0;-moz-box-shadow:inset 0 -3px 3px rgba(0,0,0,0.1);-webkit-box-shadow:inset 0 -3px 3px rgba(0,0,0,0.1);box-shadow:inset 0 -3px 3px rgba(0,0,0,0.1)}div.clubMain div#header
a.name{position:absolute;background:#FFF;background:rgba(255,255,255,0.6);margin:0;padding:5px
20px;margin:20px
0 0 0;-moz-border-radius:0 10px 10px 0;-webkit-border-radius:0 10px 10px 0;border-radius:0 10px 10px 0}div.clubMain div#header a.name:hover{-moz-box-shadow:0px 2px 5px #AAA;-webkit-box-shadow:0px 2px 5px #AAA;box-shadow:0px 2px 5px #AAA}div.clubMain div#header a.name
div.inner{margin:0
0 0 45px}div.clubMain div#header
div.manager{position:absolute;right:10px;top:0;background:rgba(255,255,255,0.9);padding:2px
10px}div.clubMenu{position:absolute;bottom: -1px;padding:0
0 0 10px}div.clubMenu ul
li{float:left}div.clubMenu ul li
a{display:block;margin:0px
1px;padding:5px
10px;font-size:12px;color:#FFF;border:1px
solid #90A831;border-bottom:0;background:#90A831;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0}div.clubMenu ul li a:hover,div.clubMenu ul li
a.focus{background:#FFF;color:#90A831;border:1px
solid #CCC;border-bottom:0}div.clubMain
div#subHeader{padding:15px
20px}div.clubMain div#subHeader
h2{font-size:15px;color:#90A831}div.clubMain
div#columnA{margin:20px
0 0 35px;width:650px;display:inline}div.clubMain div#columnA
div#subHeader{padding:10px
5px}#entry_list
div.item{padding:0
0 5px 5px;margin-bottom:5px}#entry_list
p.cover{padding:0}#entry_list div.item
h2.title{padding-top:0}div.clubMain
div#columnB{margin:0
0 0 10px;width:280px;position:relative}div.clubBadge{margin: -40px 0 20px 35px;padding:2px;background:#FAFAFA;width:220px;z-index:99;-moz-box-shadow:0px 2px 4px #AAA;-webkit-box-shadow:0px 2px 4px #AAA;box-shadow:0px 2px 4px #AAA;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}div.clubBadge
.inner{padding:0
10px 5px 10px}div.clubBadge
h3.title{margin:5px
0}div.clubBadge h3.title a:hover{text-decoration:underline}div.clubBadge
p.desc{}div.clubBadge
div.follow{padding:10px
0}div.clubBadge
a.btnFollow{background:#F09199;color:#FFF;margin:0px
0;padding:5px
25px;font-size:13px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}div.clubBadge
a.btnFollow.unFo{background:#EEE;color:#555}div.clubMain
div#columnDashboardA{width:140px;padding:0
0 0 5px}div.clubMain
div#columnDashboardB{width:650px;padding:0
0 0 20px}div.clubMain
div#columnDashboardC{width:650px;padding:0
0 0 20px}div.clubMain
div#columnDashboardSingle{width:700px;padding:0
0 0 20px}div.clubMain
div#columnDashboardDesignLeft{width:600px;padding:0
0 0 20px}div.clubMain
div#columnDashboardDesignRight{width:200px;padding:0
0 0 10px}div.clubMain
#colunmSingle{margin:20px}div.clubMain
div#entry_content{margin-top:0px}div.clubMain #columnB
div.shareBtn{margin:0
0 15px 35px}div.clubMain #columnA
div.shareBtn{float:right}div.section{margin:15px
0}div.section
div.inner{margin:5px
0}h3.sectionTitle{color:#90A831;font-weight:bold;font-size:15px;margin:0
0 10px 0}div.section h3.sectionTitle
a{font-size:12px;font-weight:normal}div.section h3.sectionTitle a:hover{text-decoration:underline}div#columnA
div.section{margin:0
0 30px 0}div#columnB
div.section{margin:0
30px 25px 35px}div#columnB div.section
h3.sectionTitle{margin:0
0 5px 0}div#columnDashboardDesignLeft
div.section{margin:0
0 15px 0}div#columnDashboardDesignLeft div.section
h2.subtitle{margin:0
0 5px 0}ul.gridMember{}ul.gridMember
li{float:left;width:43px;height:43px}ul.verticalMenu{}ul.verticalMenu
li.cat{background-color:#EAEAEA;margin:0
0 0 0;padding:5px
0 5px 15px;font-size:13px;font-weight:normal;color:#777;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EAEAEA');background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#EAEAEA));background: -moz-linear-gradient(top,  #FFF,  #EAEAEA)}ul.verticalMenu li
a{display:block;background:#F7F8F3;color:#333;margin:2px
0;padding:3px
15px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}ul.verticalMenu li a:hover{background:#F09199;color:#FFF}ul.verticalMenu li
a.focus{background:#369CF8;color:#FFF}div#colors{width:500px}#colors
.inactive{display:none}.colorpicker-container{position:absolute;z-index:99}#inputs
label{display:block;width:82px;float:left;margin-right:13px;border:1px
solid #fff;padding:5px
0;font-size:90%}.colorpicker-box{width:80px;height:40px;border:1px
solid #999;cursor:pointer;float:left;margin-right:15px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}a.designTab{background:#F7F8F3;color:#333;font-size:13px;width:100px;margin:2px
0;padding:5px
15px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}a.designTab:hover{background:#F09199;color:#FFF}a.bgPreview{display:block;width:200px;height:100px;overflow:hidden;border:1px
solid #CCC;padding:2px}a.bgPreview
span{display:block;width:200px;height:100px}#colunmNotice{margin:30px
150px}#colunmNotice
.message{margin:0
0 0 220px;padding:40px
0 0 0}#colunmNotice
h2{color:#2F5797;font-size:17px;font-weight:normal}#colunmNotice
p.text{color:#555;padding:10px
0}#worksSearch{text-align:center;margin:0
0 10px 0;padding:10px
0;background-color:#F7F8F3;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}ul.settingModel{}ul.settingModel
li{padding:5px;border-top:1px solid #EEE}ul.settingModel li
p{float:left;padding:5px
10px;line-height:20px}ul.settingModel li
p.title{width:70px}ul.catMenu{}ul.catMenu
li{float:left;padding:3px
5px 5px 5px}ul.catMenu li
a{background:#F7F8F3;color:#0084B4;margin:0
0;padding:3px
5px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}ul.catMenu li a:hover,ul.catMenu li
a.focus{background:#F09199;color:#FFF}ul.headerTab{display:inline;font-size:12px;font-weight:normal;margin:0
0 0 5px;padding:0
0 0 10px;border-left:1px solid #AAA}ul.headerTab
li{display:inline}ul.headerTab li
a{background:#DFE2EE;color:#2F5797;padding:2px
8px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}ul.headerTab li a:hover{background:#F09199;color:#FFF}ul.headerTab li
a.focus{background:#369CF8;color:#FFF}ul.browserFull.club li.item
div.inner{margin-left:120px}ul.browserFull li.item
p.tagInfo{line-height:100%;padding:10px
0 0 0}ul.browserFull li.item
p.attrInfo{line-height:100%;border-top:1px solid #EEE;margin:10px
0 0 0;padding:10px
0 0 0}ul.browserFull li.item p.attrInfo
span{margin:0
0 0 2px}ul.subjectGrid{margin:0
0 10px 0}ul.subjectGrid
li{float:left;width:111px;height:185px;line-height:150%}ul.subjectGrid li a.image:hover div.image,ul.subjectGrid li div.image:hover{border-color:#0187C5;-moz-box-shadow:0px 0px 3px #DFE2EE;-webkit-box-shadow:0px 0px 3px #DFE2EE;box-shadow:0px 0px 3px #DFE2EE}ul.subjectGrid li
p.title{color:#0084B4}ul.subjectGrid li a.image:hover
p.title{text-decoration:underline}ul.subjectGrid li
div.image{padding:1px;border:1px
solid #EEE;width:100px;height:140px}ul.subjectGrid li
div.imageInner{width:100px;height:140px;overflow:hidden;background-color:#EEE;background-repeat:no-repeat;background-position:50% 50%}ul.subjectGrid li
p.title{width:102px;height:16px;overflow:hidden}ul.subjectGrid li
p.info{padding:0
10px 0 0}div.subjectGridClubHome ul.subjectGrid
li{width:130px}div.subjectGridSq ul.subjectGrid
li{height:145px}div.subjectGridSq ul.subjectGrid li
div.image{height:100px}div.subjectGridSq ul.subjectGrid li
div.imageInner{height:100px}ul.worksGroupList{}ul.worksGroupList li
div.club{float:left;width:140px;padding:5px
10px;background:#F7F8F3;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}ul.worksGroupList li div.club
.inner{margin:0
0 0 60px}ul.worksGroupList li
div.works{float:left;width:540px}ul.worksGroupList li div.works li
.inner{margin-left:70px}ul.worksGroupList
li.subtitle{background:#F7F8F3;border-bottom:1px solid #DDD;padding:5px
10px}div#columnDashboardDesignLeft ul.worksGroupList li
div.works{}ul.photoList{margin:10px
0 0 0}ul.photoList
li{float:left;padding:0
20px 20px 0}ul.photoList
li.odd{clear:both}ul.photoList li
img.grid{border-color:#EEE}ul.clubsLarge{margin:0
0 10px 0}ul.clubsLarge
li{float:left;width:111px;height:145px}ul.clubsLarge li
a.grid{color:#0084B4;line-height:100%}ul.clubsLarge li a.grid:hover
span{text-decoration:underline}ul.clubsLarge li
img.grid{margin:0;border-color:#EEE}ul.clubsLarge li
p.info{padding:0
10px 0 0}ul.clubsLarge
li.loose{width:114px;padding:5px
10px 5px 10px}ul.clubsSmall
li{width:170px;float:left;margin-top:5px;padding-bottom:5px;overflow:hidden}ul.clubsSmall li
div.inner{padding:0
5px 0 57px;margin:0}ul.clubsSmall li div.inner
p.title{border-bottom:1px solid #DDD;margin:0
0 2px 0}ul.clubsSmall
li.odd{clear:both}ul.clubsSmall
li.current{background-color:#FAFAFA}div.eventList3c ul.clubsSmall
li{width:220px}ul.clubsSmall li div.inner
p.title{font-size:13px}ul.chlTagList
li{border-bottom:1px solid #EEE;padding:5px
0}ul.chlTagList li
.cat{background:#F09199;color:#FFF;padding:2px
8px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}.taglist{border-width:1px;border-style:solid;border-color:#999 #CCC #DDDDDD #999;padding:5px;background-color:#FDFDFD;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;margin:0
0 5px 0;padding:3px
3px 2px 3px;overflow:hidden;font-size:13px}.taglist
li.tag{background:none repeat scroll 0 0 #EEE;list-style:none;float:left;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;border:1px
solid #CCC;cursor:default;padding:3px
2px 3px 3px;margin:0
4px 2px 0;height:16px}.taglist
li.input{list-style:none;float:left}.taglist li.input
input{border:medium none;cursor:default;margin:0;outline:0
none;padding:0;width:150px;visibility:hidden}.taglist li.tag a.delete
span{visibility:hidden;padding:0
2px 0 0}.taglist li.tag
a.delete{background:url("/img/ico/tag_del.png") no-repeat 0 2px;text-decoration:none;cursor:pointer}a.back{background:#DFE2EE url('/img/doujin/ico_jj_small.gif') no-repeat 10px 50%;color:#2F5797;margin:0
0 15px 0;padding:2px
0 2px 30px;display:block;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px}a.back:hover{background-color:#F09119;color:#FFF}a.tag{background:#EEE;color:#2F5797;padding:2px
8px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}a.tag:hover{background:#F09199;color:#FFF}span.ico_love{background:url("/img/ico/ico_list_love.gif") no-repeat 0 0;padding:0
0 0 13px;font-size:10px;line-height:10px;color:#AAA}span.ico_members{background:url("/img/ico/ico_list_member.gif") no-repeat 0 0;padding:0
0 0 13px;font-size:10px;line-height:10px;color:#AAA}span.sbjStatus{background:#FF503E;color:#FFF;line-height:100%;padding:3px
5px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}span.sbjStatus.preorder{background:#9591E8}span.sbjStatus.presell{background:#6A8E41}span.sbjStatus.mail{background:#FF70D5}span.sbjStatus.sell{background:#8DCFF4}span.sbjStatus.remain{background:#FFBD3E}span.sbjStatus.done{background:#FF503E}span.sbjStatus.opps{background:#8B8B8B}span.sbjStatus.assemble{background:#AECA3F}span.sbjStatus.ing{background:#FA8195}span.sbjStatus.sexual{background:#AAA}