html {
    font-family: -apple-system,BlinkMacSystemFont,PingFang SC,Microsoft Yahei,Segoe UI,Helvetica,Arial,sans-serif,Segoe UI Emoji;
}

a {
    color: #161209;
    text-decoration: none;
    transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
    background-color: transparent;
}

a:hover {
    color: #2d96bd;
}

img {
    border-style: none;
}

body {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5rem;
    background-color: #fff;
    color: #161209;
    margin: 0;
}

body::before {
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.05;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #87878d;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a7a7af;
}

::selection {
    background: rgba(38,139,211,0.2);
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 97.5vh;
    width: 100%;
}

.navbar {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 4rem;
    line-height: 4rem;
    background-color: #fafafa;
}

.navbar .navbar-container {
    width: auto;
    text-align: center;
    margin: 0 20rem;
    display: flex;
    justify-content: space-between;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.bounceIn {
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}

.navbar .navbar-container .navbar-header a {
    padding: 0 8px;
    font-size: 20px;
}

.navbar .navbar-container .navbar-menu a {
    padding: 0 8px;
}

.wrapper main {
    flex: 1 0 auto;
}

main {
    display: block;
}

.wrapper main .container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.home-intro {
    transform: translateY(25vh);
    text-align: center;
}

.home-intro .home-avatar {
    padding: 0.6rem;
}

.home-intro .home-description {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    padding: .4rem;
}

.home-intro .home-social-links {
    padding-top: .6rem;
}

.home-intro .home-avatar img {
    width: 8rem;
    height: auto;
    display: inline-block;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 0 0.3618em rgba(0,0,0,0.05);
    box-shadow: 0 0 0 0.3618em rgba(0,0,0,0.05);
    margin: 0 auto;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
    cursor: pointer;
}

.home-intro .home-avatar img:hover {
    position: relative;
    -webkit-transform: translateY(-0.75rem);
    -moz-transform: translateY(-0.75rem);
    -ms-transform: translateY(-0.75rem);
    -o-transform: translateY(-0.75rem);
    transform: translateY(-0.75rem);
    cursor: pointer;
}

