body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, select, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
a {
    color: #464646;
    text-decoration: none;
}

.wz{
    min-width: 100%;
}

#dh {
    line-height: 40px;
    position: relative;
    min-width: 100%;
    height: 50px;
    background: #FCFCFC;
    border-bottom: 1px solid #DDD;
    box-shadow: 0px 0 0px 1px rgba(250, 250, 250, 0.8);
    background-color: #FCFCFC;
    background: -webkit-gradient(linear, left top, left bottom, from(#FCFCFC), to(#FAFAF9));
    background: -webkit-linear-gradient(top, #FCFCFC, #FAFAF9);
    background: -moz-linear-gradient(top, #FCFCFC, #FAFAF9);
    background: -ms-linear-gradient(top, #FCFCFC, #FAFAF9);
    background: -o-linear-gradient(top, #FCFCFC, #FAFAF9);
}

@media screen and (max-width: 800px){
#dh {
    display: block;
    width: 100%;
}
}

#dh h1{
    text-align: center;
}

#dh h1 a {
    animation: dongHua 2.5s 1 ease-in-out;
    color: #60639a;
    font-family: "Noto Serif SC",serif;
    font-size: 30px;
}

@keyframes dongHua {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}

#zb {
    height: 195px;
    margin: 0 0 15px 0;
    padding: 0 0 20px 0;
    -webkit-box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.05);
    background: #f9f9f5;
}

#intro {
    background: #61649b;
    width: 910px;
    margin: 0 auto;
}

.columns {
    padding: 0 0 10px 0;
    width: 1000px;
}

.clearit {
    zoom: 1;
}

#columnIntroA {
    width: 690px;
    padding: 0 0 30px 0;
    position: relative;
}

.column {
    float: left;
}

#columnIntroA div.musume {
    background: url(../img/222.png) no-repeat;
    width: 147px;
    height: 215px;
    position: absolute;
}

#columnIntroA div.slider {
    position: relative;
}

.jianjie {
    margin-left: 150px;
    float: left;
    padding: 20px 0 0 0;
}

.jja {
    position: absolute;
    z-index: 10;
    margin: 0 0 10px 0;
    padding: 10px 15px;
    height: 155px;
    background: #FFF;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.9, #FFF), color-stop(1, #F0F0F0));
    background-image: -moz-linear-gradient(top, #FFF 80%, #F0F0F0);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.jja h2 {
    color: #60639a;
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: normal;
}

.jja h3 {
    color: #6b6d9b;
    font-size: 12px;
    font-weight: normal;
}

.jja h4{
    color: #5155c2;
    font-size: 12px;
    font-weight: normal;
}

.content-wrap {
    margin: auto;
    max-width: 910px;
}

.content-rank>div {
    float: left;
    margin-bottom: 20px;
}

.content-rank>div:last-child {
    margin-top: 0;
    float: right;
    margin-bottom: 20px;
}